* {
  box-sizing: box-sizing;
  margin: 0;
  padding: 0;

}

body {
  font-size: 18px;
  background: #3B364F
}

.fill {
  width: fit-content;
  margin: 5px auto;
  color: white;
  position: relative;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px black
}

.fill::before {
  content: attr(data-text);
  position: absolute;
  -webkit-text-fill-color: #CC4F4F;
  width: 0%;
  overflow: hidden;
  transition: .6s;
   white-space: nowrap
}

.fill:hover::before {
  width: 100%
}
